html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    background-image: url(/IMG/MORGANS.png);
    background-repeat: no-repeat;
    background-size: contain;
}